/* ---- CSS Reset ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rosarivo;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  text-decoration-color: none;
}

/* ---- CSS Reset ----- */
/* ---- Titulos secundarios en toda la pagina ----- */
.big-text {
  background-color: white;
  padding: 20px;
  text-align: center;
  color: black;
  font-size: 2rem;
  font-weight: bold italic;
}

.title-secondary {
  background-color: white;
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.contact-list {
  list-style-type: decimal; /* Remove default list numbering */
  margin-right: 5px; /* Add space between the number and the content */
}

.contact-list li {
  padding: 5px;
  text-align: left;
}

.nav-header {
  background-color: #912633;
}

.nav-header .navbar-nav .nav-item.dropdown .dropdown-menu {
  background-color: #912633;
}

/* ---- Aca me paso lo mismo que con el fondo. Si no usaba clases tan especificas el estilo de Boostrap cobraba importancia sobre el mio ----- */
.nav-header .navbar-nav .nav-link,
.nav-header .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
  color: #fff;
}

@keyframes rocking {
  0% {
    transform: rotate(2deg) scale(105%);
  }
  50% {
    transform: rotate(-2deg) scale(95%);
  }
  100% {
    transform: rotate(2deg) scale(105%);
  }
}
.logo {
  animation: rocking 3s ease-in-out infinite;
  width: 7.5rem;
}

/* ---- Imagenes en Body e Imagen Parallax ----- */
.body-img {
  max-width: 50vw;
  min-width: 30vh;
  padding: 20px auto;
}

.img-background {
  background-image: url(../img/fondo.jpg);
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ---- Imagenes en Body e Imagen Parallax ----- */
/* ---- FOOTER ----- */
/* ---- Tuve problemas con el formato y estilo del footer. No se si era por Bootstrap o algun error mio, pero tuve que buscar ayuda y
usar ChatGPT para encontrar una solucion. Si no uso el nivel de especificidad que use aca algunas partes del estilo como margin entre <li>
no se aplica o los iconos de Bootstrap desaparecen ----- */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}

.footer-nav {
  width: 50%;
  text-align: left;
  padding-left: 10px;
}

.right {
  text-align: right;
  padding-right: 10px;
}

.footer-nav ul:first-child {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav ul:last-child {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav ul:last-child li {
  margin-bottom: 10px;
}

.footer-nav ul a {
  color: #fff;
  text-decoration: none;
}

.footernav ul a .bi {
  color: #fff;
  font-size: 0.75rem;
}

/* ---- FOOTER ----- */
/* ---- FOOTER ----- */
.generic-text {
  padding: 10px;
  text-align: center;
}

.imagenes-general {
  max-width: 100%; /* Make the image responsive to the parent container */
  height: auto;
  display: block; /* Remove any extra spacing around the image */
  margin: 0 auto; /* Center the image horizontally */
  padding: 10px; /* Add padding around the image */
}

.carousel-banner {
  padding: 10px 0px;
}

/* ---- PATREON ----- */
.patreon-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.patreon-tier {
  border: 3px solid #000;
  border-radius: 10px;
  padding: 20px;
  background-color: #c9c9c9;
  margin: 10px auto;
  max-width: 470px;
}

.patreon-tier h2 {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 15px;
}

.patreon-tier a {
  display: block;
  background-color: #912633;
  color: #fff;
  width: max-content;
  margin: 0 auto;
  padding: 10px 20px;
  border: 2px solid #410202;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.patreon-tier ul {
  text-align: left;
  padding-left: 20px;
}

/* ---- PATREON ----- */
/* ---- MENSAJES DE CLIENTES - INDEX ----- */
.client-message {
  padding: 10px;
  border: 1px solid #000000;
  background-color: #dddddd;
  border-radius: 10px;
  margin: 10px;
}

.client-message h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
  border-bottom: 1px solid #575757;
  padding: 10px;
}

.client-message p {
  padding: 10px;
}

/* ---- MENSAJES DE CLIENTES - INDEX ----- */
/* ---- BLOG ----- */
.blog-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.blog-article {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  text-align: left;
  padding-bottom: 20px;
  overflow: hidden;
  max-width: 600px;
  margin: 10px auto;
}

.blog-article img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: fill;
}

.blog-article h2 {
  font-size: 20px;
  margin: 10px;
}

.blog-article p {
  font-size: 16px;
  margin: 10px;
}

.blog-article a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
}

/* ---- BLOG ----- */
.google-map {
  width: 100%; /* Make the iframe take the full width of its container */
  max-width: 100%; /* Ensure it doesn't exceed the container's width */
  height: 300px; /* Set an initial height that fits your design (adjust as needed) */
  padding: 20px;
}

.contacto-division {
  border-top: 1px solid #000; /* Adjust the color and width as desired */
  width: 80%; /* Set the desired width for the divider */
  margin: 0 auto; /* Center the divider horizontally */
}

.contacto-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contacto-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contacto-form input[type=text],
.contacto-form input[type=email],
.contacto-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contacto-form textarea {
  resize: vertical;
}

.contacto-form input[type=submit] {
  background-color: #912633;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #410202;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.contacto-form input[type=submit]:hover {
  background-color: #410202;
}

.contenido-boton {
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  margin: 10px;
  background-color: #912633;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #410202;
  border-radius: 5px;
}

.contenido-boton:hover {
  background-color: #410202;
}

.coming-soon {
  background-color: #912633;
  color: #ffffff;
  font-size: 24px; /* Increase the font size */
  padding: 20px 30px; /* Adjust padding for centered text */
  border-radius: 5px;
  letter-spacing: 2px;
  margin: 25px;
  text-align: center;
}

.button-container {
  text-align: center;
  margin-bottom: 20px;
}

.image-container img {
  display: none;
  max-width: 100%; /* Maintain image resolution while ensuring they fit the container */
  margin: 20px auto; /* Center the images horizontally */
  padding: 20px auto; /* Add padding around the images */
}

/*# sourceMappingURL=styles.css.map */
