/* ---- CSS Reset ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rosarivo;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  text-decoration-color: none;
}

/* ---- CSS Reset ----- */
/* ---- Titulos secundarios en toda la pagina ----- */
.big-text {
  background-color: white;
  padding: 20px;
  text-align: center;
  color: black;
  font-size: 2rem;
  font-weight: bold italic;
}

.title-secondary {
  background-color: white;
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.contact-list {
  list-style-type: decimal;
  margin-right: 5px;
}

.contact-list li {
  padding: 5px;
  text-align: left;
}

.iframe-style {
  width: 100%;
  max-width: 100%;
  height: 300px;
  padding: 20px;
}

@media (min-width: 768px) {
  .iframe-style {
    display: block;
    margin: 0 auto;
    height: 60vh;
    width: 50vw;
  }
}
.header-placeholder {
  height: 20vh;
}

.nav-header {
  background-color: #912633;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
}

.nav-header .navbar-nav .nav-item.dropdown .dropdown-menu {
  background-color: #912633;
}

.nav-header .navbar-nav .nav-link,
.nav-header .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
  color: white;
}

@keyframes rocking {
  0% {
    transform: rotate(2deg) scale(105%);
  }
  50% {
    transform: rotate(-2deg) scale(95%);
  }
  100% {
    transform: rotate(2deg) scale(105%);
  }
}
.logo {
  animation: rocking 3s ease-in-out infinite;
  width: 7.5rem;
}

/* ---- Header - Medium ----- */
@media (min-width: 768px) {
  .nav-header {
    padding: 10px 50px;
  }
  .logo {
    width: 10rem;
  }
  .navbar-nav {
    margin-left: auto;
  }
}
/* ---- Header - Medium ----- */
/* ---- Imagenes en Body e Imagen Parallax ----- */
.body-img {
  max-width: 50vw;
  min-width: 30vh;
  padding: 20px auto;
}

.img-background {
  background-image: url(../img/fondo.webp);
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ---- Imagenes en Body e Imagen Parallax ----- */
/* ---- FOOTER ----- */
footer {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}

.footer-nav {
  width: 50%;
  text-align: left;
  padding-left: 10px;
}

.right {
  text-align: right;
  padding-right: 10px;
}

.footer-nav ul:first-child {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav ul:last-child {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav ul:last-child li {
  margin-bottom: 10px;
}

.footer-nav ul a {
  color: white;
  text-decoration: none;
}

.footernav ul a .bi {
  color: white;
  font-size: 0.75rem;
}

/* ---- FOOTER ----- */
/* ---- FOOTER - MEDIUM----- */
@media (min-width: 768px) {
  footer {
    font-size: 1rem;
  }
  .right {
    text-align: left;
    border-left: 2px solid white;
  }
  .footernav ul a .bi {
    font-size: 1rem;
  }
}
/* ---- FOOTER - MEDIUM----- */
.generic-text {
  padding: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .title-secondary,
  .big-text {
    text-align: left;
  }
  .generic-text {
    text-align: justify;
  }
}
.imagenes-general {
  max-width: 70vw;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

@media (min-width: 768px) {
  .imagenes-general {
    max-width: 40vw;
  }
}
.carousel-banner {
  padding: 10px 0px;
}

/* ---- PATREON ----- */
.patreon-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.patreon-tier {
  border: 3px solid #000;
  border-radius: 10px;
  padding: 20px;
  background-color: #c9c9c9;
  margin: 10px auto;
  max-width: 470px;
}

.patreon-tier h2 {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 15px;
}

.patreon-tier a {
  background-color: #912633;
  border: 2px solid #410202;
  color: white;
  display: block;
  width: max-content;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.5s;
}

.patreon-tier a:hover {
  background-color: #410202;
}

.patreon-tier ul {
  text-align: left;
  padding-left: 20px;
}

/* ---- PATREON ----- */
/* ---- PATREON - MEDIUM ----- */
@media (min-width: 768px) {
  .patreon-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px;
  }
  .patreon-section h2 {
    grid-row: 1;
    grid-column: 1/span 3;
  }
  .patreon-tier {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-row: 2;
    grid-column: auto;
  }
}
/* ---- PATREON - MEDIUM ----- */
/* ---- MENSAJES DE CLIENTES - INDEX ----- */
.client-message {
  padding: 10px;
  border: 1px solid #000000;
  background-color: #dddddd;
  border-radius: 10px;
  margin: 10px;
}

.client-message h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
  border-bottom: 1px solid #575757;
  padding: 10px;
}

.client-message p {
  padding: 10px;
}

/* ---- MENSAJES DE CLIENTES - INDEX ----- */
@media (min-width: 768px) {
  /* ---- Estos bloques hacen que los comentarios de los clientes queden "alternados" uno de cada lado ----- */
  .client-message:nth-child(even) {
    flex-direction: row;
    width: 75%;
    margin-right: 20px;
  }
  .client-message:nth-child(odd) {
    flex-direction: row;
    width: 75%;
    margin-left: auto;
    text-align: right;
  }
}
/* ---- BLOG ----- */
.blog-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.blog-article {
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #dbdbdb;
  text-align: left;
  padding-bottom: 20px;
  overflow: hidden;
  min-height: 350px;
  max-height: 750px;
  max-width: 600px;
  margin: 10px auto;
}

.blog-article img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: fill;
}

.blog-article h2 {
  font-size: 20px;
  margin: 10px;
}

.blog-article p {
  font-size: 16px;
  margin: 10px;
}

.blog-article a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
}

/* ---- BLOG ----- */
/* ---- BLOG - MEDIUM ----- */
@media (min-width: 768px) {
  .blog-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px;
  }
  .blog-article {
    grid-row: 2;
    grid-column: auto;
    max-width: 400px;
    max-height: 650px;
  }
  .blog-section h1 {
    grid-row: 1;
    grid-column: 1/span 3;
  }
  .blog-article img {
    height: 50%;
    display: block;
    object-fit: cover;
    margin: 0 auto;
  }
}
/* ---- BLOG - MEDIUM ----- */
.contacto-division {
  border-top: 1px solid #000;
  width: 80%;
  margin: 0 auto;
}

.contacto-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contacto-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contacto-form input[type=text],
.contacto-form input[type=email],
.contacto-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contacto-form textarea {
  resize: vertical;
}

.contacto-form input[type=submit] {
  background-color: #912633;
  border: 2px solid #410202;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.5s;
}

.contacto-form input[type=submit]:hover {
  background-color: #410202;
}

@media (min-width: 768px) {
  .contacto-form {
    margin: 0;
    border: none;
  }
}
.contenido-boton {
  background-color: #912633;
  border: 2px solid #410202;
  color: white;
  display: block;
  text-align: center;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 5px;
  transition: background-color 0.5s;
  cursor: pointer;
}

.contenido-boton:hover {
  background-color: #410202;
}

.coming-soon {
  background-color: #912633;
  border: 2px solid #410202;
  color: white;
  font-size: 24px;
  padding: 20px 30px;
  border-radius: 5px;
  letter-spacing: 2px;
  margin: 10px;
  text-align: center;
}

.button-container {
  text-align: center;
  margin-bottom: 20px;
}

.image-container img {
  display: none;
  max-width: 100%;
  margin: 20px auto;
  padding: 20px auto;
}

@media (min-width: 768px) {
  .image-container img {
    display: none;
    max-width: 50vw;
    margin: 20px auto;
    padding: 20px auto;
  }
}

/*# sourceMappingURL=styles.css.map */
