/* ---- BLOG ----- */
.blog-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .blog-article {
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #e6e6e6;
    text-align: left;
    padding-bottom: 20px;
    overflow: hidden;
    
    min-height: 550px;
    max-height: 650px;
    max-width: 600px;
    margin: 10px auto;
  }
  
  .blog-article img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: fill;
  
  }
  
  .blog-article h2 {
    font-size: 20px;
    margin: 10px;
  }
  
  .blog-article p {
    font-size: 16px;
    margin: 10px;
  }
  
  .blog-article a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
  }
  /* ---- BLOG ----- */

  /* ---- BLOG - MEDIUM ----- */
@media (min-width: 768px) {
  .blog-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px;
  }

  .blog-article {
    grid-row: 2;
    grid-column: auto;
    max-width: 400px;
  }

  .blog-section h1 {
    grid-row: 1;
    grid-column: 1 / span 3;
  }

  .blog-article img {
    height: 50%;
    display: block;
    object-fit: cover;
    margin: 0 auto;
  }
}
/* ---- BLOG - MEDIUM ----- */