.coming-soon {
    @include button-colors;
    font-size: 24px;
    padding: 20px 30px;
    border-radius: 5px;
    letter-spacing: 2px;
    margin: 10px;
    text-align: center;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
}

.image-container img {
    display: none;
    max-width: 100%;
    margin: 20px auto;
    padding: 20px auto;
}


@media (min-width: 768px) {
    .image-container img {
        display: none;
        max-width: 50vw;
        margin: 20px auto;
        padding: 20px auto;
    }
}