.carousel-banner{
    padding: 10px 0px;
  }


  /* ---- PATREON ----- */
.patreon-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .patreon-tier {
    border: 3px solid #000;
    border-radius: 10px;
    padding: 20px;
    background-color: #c9c9c9;
    margin: 10px auto;
    max-width: 470px;
  
  }
  
  .patreon-tier h2 {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 15px;
  }
  
  .patreon-tier a {
    @include button-colors;

    display: block;
    
    width: max-content;
    margin: 0 auto;
    padding: 10px 20px;
  
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
  
  }
  
  .patreon-tier ul {
    text-align: left;
    padding-left: 20px;
  }
  /* ---- PATREON ----- */


  /* ---- PATREON - MEDIUM ----- */
@media (min-width: 768px) {
  .patreon-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px;
  }

  .patreon-section h2 {
    grid-row: 1;
    grid-column: 1 / span 3;
  }

  .patreon-tier {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-row: 2;
    grid-column: auto;
  }
}
/* ---- PATREON - MEDIUM ----- */

  /* ---- MENSAJES DE CLIENTES - INDEX ----- */

.client-message {
  padding: 10px;
  border: 1px solid #000000;
  background-color: #dddddd;
  border-radius: 10px;
  margin: 10px;
}

.client-message h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
  border-bottom: 1px solid #575757;
  padding: 10px;
}

.client-message p {
  padding: 10px;
}
/* ---- MENSAJES DE CLIENTES - INDEX ----- */

@media (min-width: 768px) {

  /* ---- Estos bloques hacen que los comentarios de los clientes queden "alternados" uno de cada lado ----- */
  .client-message:nth-child(even) {
    flex-direction: row;
    width: 75%;
    margin-right: 20px;
  }

  .client-message:nth-child(odd) {
    flex-direction: row;
    width: 75%;
    margin-left: auto;
    text-align: right;
  }
}