$footer-back-color: black;
$footer-font-color: white;

/* ---- FOOTER ----- */
footer {
  background-color: $footer-back-color;
  color: $footer-font-color;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}

.footer-nav {
  width: 50%;
  text-align: left;
  padding-left: 10px;
}

.right {
  text-align: right;
  padding-right: 10px;
}

.footer-nav ul:first-child {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav ul:last-child {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav ul:last-child li {
  margin-bottom: 10px;
}

.footer-nav ul a {
  color: $footer-font-color;
  text-decoration: none;
}

.footernav ul a .bi {
  color: $footer-font-color;
  font-size: 0.75rem;
}

/* ---- FOOTER ----- */

/* ---- FOOTER - MEDIUM----- */
@media (min-width: 768px) {

  footer {
    font-size: 1rem;
  }

  .right {
    text-align: left;
    border-left: 2px solid $footer-font-color;
  }

  .footernav ul a .bi {
    font-size: 1rem;
  }

}

/* ---- FOOTER - MEDIUM----- */