.header-placeholder {
  height: 20vh;
}

.nav-header {
  background-color: #912633;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
}

.nav-header .navbar-nav .nav-item.dropdown .dropdown-menu {
  background-color: #912633;
}

/* ---- Aca me paso lo mismo que con el fondo. Si no usaba clases tan especificas el estilo de Boostrap cobraba importancia sobre el mio ----- */
.nav-header .navbar-nav .nav-link,
.nav-header .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
  color: #fff;
}

@keyframes rocking {
  0% {
    transform: rotate(2deg) scale(105%);
  }

  50% {
    transform: rotate(-2deg) scale(95%);
  }

  100% {
    transform: rotate(2deg) scale(105%);
  }
}

.logo {
  animation: rocking 3s ease-in-out infinite;
  width: 7.5rem;
}

/* ---- Header - Medium ----- */
@media (min-width: 768px) {
  .nav-header {
    padding: 10px 50px;
  }

  .logo {
    width: 10rem;
  }

  .navbar-nav {
    margin-left: auto;
  }
}

/* ---- Header - Medium ----- */