.nav-header {
    background-color: #912633;
  }
  
  .nav-header .navbar-nav .nav-item.dropdown .dropdown-menu {
    background-color: #912633;
  }
  
  /* ---- Aca me paso lo mismo que con el fondo. Si no usaba clases tan especificas el estilo de Boostrap cobraba importancia sobre el mio ----- */
  .nav-header .navbar-nav .nav-link,
  .nav-header .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
    color: #fff;
  }
  
  .logo{
    width: 7.5rem;
  }