.imagenes-general {
    max-width: 70vw;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 10px;

}

@media (min-width: 768px) {
    .imagenes-general {
        max-width: 40vw;
    }
}