.imagenes-general{
    max-width: 100%; /* Make the image responsive to the parent container */
    height: auto;
    display: block; /* Remove any extra spacing around the image */
    margin: 0 auto; /* Center the image horizontally */
    padding: 10px; /* Add padding around the image */

}

